
@media (max-width: 1415px) {
    .signup_btn{
        font-size: 90% !important;
    }

    .pricing{
        display: flex;
    }
}

@media (max-width: 994px) {
    .signup_btn{
        font-size: 60% !important;
    }
}