
@media (max-width: 1415px) {
    .signup_btn{
        font-size: 90% !important;
    }

    .pricing{
        display: flex !important;
        flex-direction: column !important;
        justify-content: flex-start !important;
        ali
        background-color: aquamarine !important;
    }
}

@media (max-width: 994px) {
    .signup_btn{
        font-size: 60% !important;
    }
}