body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* top bar with indices-container and Menu */
.topbar-container{
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(95, 92, 92, 0.295);
}


/* indices-container sensex nifty bar */
.indices-container{
  padding: 1%;
  display: flex;
  flex-basis: 30%;
  width: 100%;
  justify-content: center;
  border-right: 1px solid rgba(95, 92, 92, 0.295);
}

.indices-container > *{

  align-items: center;
  display: flex;
  white-space: nowrap;
}

.nifty{
  width: 30%;
}

.index{
  margin-right: 10px;
}

.sensex{
  width: 30%;
}